{% extends "_layout.html" %}
{% block content %}
{{ name }}
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="{{user.profile_image_url}}" alt="" style='width: 300px'>
        </div>
        <div class="col-6">
            {% if current_user.username == user.username %}
            <form action="{{ url_for('upload_img') }} " method='POST' enctype="multipart/form-data">
                <input type="hidden" name='csrf_token' value="{{ csrf_token() }}">
                <label for="user_file">Upload Your File</label>
                <br><br>
                <input type="file" name="user_file">
                <br><br>
                <label for="description">Image description</label>
                <input type="text" name="description">
                <br><br>
                <button type="submit" class="btn btn-primary">upload</button>
            </form>
            {% endif %}
            {% if not current_user.username == user.username and not follow%}
            <form action={{ url_for('users.follow', username=username) }}  method='POST' enctype="multipart/form-data">
                <input type="hidden" name='csrf_token' value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary">Follow</button>
            </form>
            {% elif not current_user.username == user.username and not follow.approval %}
            <form action={{ url_for('users.unfollow', username=username) }}  method='POST' enctype="multipart/form-data">
                <input type="hidden" name='csrf_token' value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary">Follow Requested</button>
            </form>
            {% elif not current_user.username == user.username and follow %}
            <form action={{ url_for('users.unfollow', username=username) }}  method='POST' enctype="multipart/form-data">
                <input type="hidden" name='csrf_token' value="{{ csrf_token() }}">
                <button type="submit" class="btn btn-primary">Unfollow</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
<div class="container mt-4">
    {% if not user.private %}
    {% for img in images %}
    <div class="row m-2">
        <img src="{{img.image_path}}" alt="" style='width: 300px; height: 300px;' class="border border-primary">
    </div>
    <a href = {{ url_for('donation.new_checkout' , img_id=img.id) }} class="btn btn-primary">Donation</a>
    <!-- <button class="donate btn btn-primary" type="button" data-toggle='modal' data-target='#paymentModal'>Donate</button> -->
    {% endfor %}
    {% else %}
    <p>This profile is private</p>
    {% endif %}
</div>

{% endblock %}